<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{commons/layout}">
<head>
<meta charset="UTF-8">
<title>Let's play Incohearent</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Sign up for Tournaments!</h2>
		<form th:action="@{/Incohearent/confirm}" method="post">
			<div>
				<label for="email">E-mail:</label>
				<input type="text" name="email">
			</div>
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username">
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="text" name="password">
			</div>
			<input type="submit" value="Sign up">
		</form>
	</div>
</body>
</html>