<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Let's Play Incohearent</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header">
			<a href="http://localhost:8080/Incohearent/play" class="logo">Incohearent</a>
			<div class="header-right">
				<a class="active" href="http://localhost:8080/Incohearent/signup/index">Logout</a>
				<a class="active" href="http://localhost:8080/Incohearent/register">Register</a>
				<a class="active" href="#contact">Contact</a>
			</div>
		</div>
	</header>
	<h1 align="center">Are you ready?</h1>
	<footer>
		<p align="center">copyright Teppei Abe</p>
	</footer>
</body>
</html>